# Data Loading

In [134]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("synthetic_covid19_data.csv")
df

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,19/11/2021,Asia,India,6423388,2490,107051,323,60016385,7386,0.904376834,...,69.259331,1241418161,67.394702,49.883751,8.649395,16.052063,44313.199950,20.827286,177.832655,16.296474
1,12/09/2021,North America,Russia,6550634,6980,481184,697,28666409,6862,0.525849636,...,7.185287,114516392,694.409929,30.126823,8.957854,4.423022,8196.945011,20.478579,470.991420,8.579170
2,20/04/2020,Europe,Canada,4304572,9134,15116,325,80352550,40108,0.791575096,...,14.823246,1152898402,784.464729,22.648063,9.336778,18.776372,52607.000060,11.924664,415.880908,14.989789
3,16/10/2022,Asia,Germany,2234489,7661,20045,624,89212990,91788,0.11529126,...,70.007502,1342525124,403.467508,42.951109,5.321894,10.526520,23297.985040,4.591400,643.510444,18.084096
4,15/05/2021,Europe,USA,9958614,1724,419543,824,5364240,75023,0.927642706,...,28.972334,744943966,182.869691,26.414731,19.321761,15.889173,56126.828890,5.431330,451.846790,5.971409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,09/11/2022,Asia,France,7085904,1537,380572,854,38716025,79552,0.197973256,...,98.890603,629900904,764.616886,33.458451,10.699616,9.350358,2098.653639,4.346562,493.921655,6.836992
2996,24/01/2020,North America,India,6699744,397,277354,353,27906787,38233,0.92076739,...,26.402506,970688939,691.752546,43.324178,15.298106,8.681226,4533.613663,30.872835,438.493670,17.708803
2997,08/02/2021,Asia,France,9024327,5680,442726,74,88886044,22695,0.44179649,...,16.666702,146193923,650.365284,31.532917,11.588981,19.658565,63901.494500,16.760837,777.073028,3.726194
2998,05/02/2020,Asia,India,2801445,9355,364225,801,63500569,90488,0.742790835,...,54.633328,485038295,552.083660,26.648227,5.098328,10.351321,25728.132350,33.450083,198.230609,11.864297
2999,21/06/2021,Europe,Canada,9196866,4825,169746,928,48153647,42734,0.54699585,...,55.189039,502986611,484.403500,28.728532,5.813562,14.526652,21578.044400,28.410705,480.571347,10.892834

# Data Exploration

In [135]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 3000
Number of Columns: 27

In [136]:
df.head(5)

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,19/11/2021,Asia,India,6423388,2490,107051,323,60016385,7386,0.904376834,...,69.259331,1241418161,67.394702,49.883751,8.649395,16.052063,44313.199950,20.827286,177.832655,16.296474
1,12/09/2021,North America,Russia,6550634,6980,481184,697,28666409,6862,0.525849636,...,7.185287,114516392,694.409929,30.126823,8.957854,4.423022,8196.945011,20.478579,470.991420,8.579170
2,20/04/2020,Europe,Canada,4304572,9134,15116,325,80352550,40108,0.791575096,...,14.823246,1152898402,784.464729,22.648063,9.336778,18.776372,52607.000060,11.924664,415.880908,14.989789
3,16/10/2022,Asia,Germany,2234489,7661,20045,624,89212990,91788,0.11529126,...,70.007502,1342525124,403.467508,42.951109,5.321894,10.526520,23297.985040,4.591400,643.510444,18.084096
4,15/05/2021,Europe,USA,9958614,1724,419543,824,5364240,75023,0.927642706,...,28.972334,744943966,182.869691,26.414731,19.321761,15.889173,56126.828890,5.431330,451.846790,5.971409

In [137]:
df.tail(7)

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
2993,22/06/2020,Asia,India,125438,67,16709,339,24367468,66470,0.153676149,...,33.440870,796829779,548.257127,29.561358,17.928562,4.823510,8306.098411,36.607553,177.331161,6.752213
2994,13/08/2022,Asia,UK,3770183,2506,212330,761,35040064,86916,0.862519806,...,62.997546,1288907202,706.377950,39.711352,8.839836,13.736928,2073.105101,37.306400,789.991850,15.174539
2995,09/11/2022,Asia,France,7085904,1537,380572,854,38716025,79552,0.197973256,...,98.890603,629900904,764.616886,33.458451,10.699616,9.350358,2098.653639,4.346562,493.921655,6.836992
2996,24/01/2020,North America,India,6699744,397,277354,353,27906787,38233,0.92076739,...,26.402506,970688939,691.752546,43.324178,15.298106,8.681226,4533.613663,30.872835,438.493670,17.708803
2997,08/02/2021,Asia,France,9024327,5680,442726,74,88886044,22695,0.44179649,...,16.666702,146193923,650.365284,31.532917,11.588981,19.658565,63901.494500,16.760837,777.073028,3.726194
2998,05/02/2020,Asia,India,2801445,9355,364225,801,63500569,90488,0.742790835,...,54.633328,485038295,552.083660,26.648227,5.098328,10.351321,25728.132350,33.450083,198.230609,11.864297
2999,21/06/2021,Europe,Canada,9196866,4825,169746,928,48153647,42734,0.54699585,...,55.189039,502986611,484.403500,28.728532,5.813562,14.526652,21578.044400,28.410705,480.571347,10.892834

In [138]:
df.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
count,3.000000e+03,3000.000000,3000.000000,3000.000000,3.000000e+03,3000.000000,3000.000000,3.000000e+03,3.000000e+03,3.000000e+03,...,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,4.970822e+06,4933.382667,252170.073000,501.944333,5.054818e+07,49124.670000,247.901976,5.059126e+07,3.951120e+07,3.523605e+07,...,49.420508,7.000848e+08,504.417978,34.954233,14.947891,11.385179,35872.847690,25.096407,452.949274,10.436695
std,2.840551e+06,2862.387046,142288.916742,286.865451,3.679282e+07,29307.360723,145.582367,2.888665e+07,2.310248e+07,2.016199e+07,...,28.926971,4.085710e+08,287.992252,8.678754,5.777631,4.903229,19925.718629,14.343835,202.618334,5.423249
min,1.729700e+04,1.000000,74.000000,0.000000,4.212000e+03,5.000000,0.087758,4.554000e+03,6.170000e+02,1.832800e+04,...,0.010237,1.110996e+06,10.588810,20.000502,5.001872,3.001780,1026.731495,0.056399,100.005903,1.011965
25%,2.602631e+06,2518.500000,131482.500000,252.750000,2.423858e+07,22728.750000,122.232179,2.505036e+07,1.908893e+07,1.775416e+07,...,24.258523,3.408214e+08,258.464713,27.473284,9.825665,7.131367,18274.354622,13.076350,278.907744,5.905785
50%,4.944837e+06,4843.500000,255026.000000,506.000000,5.044903e+07,49400.000000,245.821471,5.187611e+07,3.998080e+07,3.520562e+07,...,49.527373,6.956387e+08,499.912506,34.892248,14.897659,11.363021,36849.521790,24.942092,455.707196,10.179357
75%,7.356497e+06,7381.250000,373209.500000,749.000000,7.500279e+07,75048.000000,366.324837,7.555365e+07,5.938948e+07,5.280865e+07,...,74.679065,1.057497e+09,757.980516,42.511328,20.054738,15.585339,52862.615193,37.605693,631.834708,15.075605
max,9.993726e+06,9993.000000,499920.000000,998.000000,9.872688e+08,99987.000000,900.786830,9.998511e+07,7.998922e+07,9.634227e+07,...,99.980848,1.398727e+09,998.762016,49.999164,24.999139,19.994429,69989.049730,49.988448,799.957787,19.994108

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   float64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   float64
 17  stringency_index         3000 non-null   float64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   float64
 20  median_age               3000 non-null   float64
 21  aged_65_older            3000 non-null   float64
 22  aged_70_older            3000 non-null   float64
 23  gdp_per_capita           3000 non-null   float64
 24  extreme_poverty          3000 non-null   float64
 25  cardiovasc_death_rate    3000 non-null   float64
 26  diabetes_prevalence      3000 non-null   float64
dtypes: float64(11), int64(12), object(4)
memory usage: 632.9+ KB

In [140]:
df.columns

Index(['date', 'continent', 'location', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_tests', 'new_tests',
       'positive_rate', 'tests_per_case', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'hosp_patients',
       'icu_patients', 'reproduction_rate', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence'],
      dtype='object')

In [141]:
for i in df.columns:
    print(i)

date
continent
location
total_cases
new_cases
total_deaths
new_deaths
total_tests
new_tests
positive_rate
tests_per_case
total_vaccinations
people_vaccinated
people_fully_vaccinated
hosp_patients
icu_patients
reproduction_rate
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence

In [142]:
df.count()

date                       3000
continent                  3000
location                   3000
total_cases                3000
new_cases                  3000
total_deaths               3000
new_deaths                 3000
total_tests                3000
new_tests                  3000
positive_rate              3000
tests_per_case             3000
total_vaccinations         3000
people_vaccinated          3000
people_fully_vaccinated    3000
hosp_patients              3000
icu_patients               3000
reproduction_rate          3000
stringency_index           3000
population                 3000
population_density         3000
median_age                 3000
aged_65_older              3000
aged_70_older              3000
gdp_per_capita             3000
extreme_poverty            3000
cardiovasc_death_rate      3000
diabetes_prevalence        3000
dtype: int64

In [143]:
df['location'].unique()

array(['India', 'Russia', 'Canada', 'Germany', 'USA', 'France', 'Brazil',
       'Italy', 'Japan', 'UK'], dtype=object)

In [144]:
df.nunique()

date                       1028
continent                     4
location                     10
total_cases                3000
new_cases                  2574
total_deaths               2987
new_deaths                  940
total_tests                3000
new_tests                  2949
positive_rate              3000
tests_per_case             3000
total_vaccinations         3000
people_vaccinated          3000
people_fully_vaccinated    3000
hosp_patients              2951
icu_patients               2782
reproduction_rate          3000
stringency_index           3000
population                 3000
population_density         3000
median_age                 3000
aged_65_older              3000
aged_70_older              3000
gdp_per_capita             3000
extreme_poverty            3000
cardiovasc_death_rate      3000
diabetes_prevalence        3000
dtype: int64

In [145]:
df.isnull().sum()

date                       0
continent                  0
location                   0
total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
total_tests                0
new_tests                  0
positive_rate              0
tests_per_case             0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
hosp_patients              0
icu_patients               0
reproduction_rate          0
stringency_index           0
population                 0
population_density         0
median_age                 0
aged_65_older              0
aged_70_older              0
gdp_per_capita             0
extreme_poverty            0
cardiovasc_death_rate      0
diabetes_prevalence        0
dtype: int64

# Data Pre-processing

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   float64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   float64
 17  stringency_index         3000 non-null   float64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   float64
 20  median_age               3000 non-null   float64
 21  aged_65_older            3000 non-null   float64
 22  aged_70_older            3000 non-null   float64
 23  gdp_per_capita           3000 non-null   float64
 24  extreme_poverty          3000 non-null   float64
 25  cardiovasc_death_rate    3000 non-null   float64
 26  diabetes_prevalence      3000 non-null   float64
dtypes: float64(11), int64(12), object(4)
memory usage: 632.9+ KB

In [147]:
df.isnull().sum()

date                       0
continent                  0
location                   0
total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
total_tests                0
new_tests                  0
positive_rate              0
tests_per_case             0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
hosp_patients              0
icu_patients               0
reproduction_rate          0
stringency_index           0
population                 0
population_density         0
median_age                 0
aged_65_older              0
aged_70_older              0
gdp_per_capita             0
extreme_poverty            0
cardiovasc_death_rate      0
diabetes_prevalence        0
dtype: int64

In [148]:
df['location'].isnull().sum()

0

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   float64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   float64
 17  stringency_index         3000 non-null   float64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   float64
 20  median_age               3000 non-null   float64
 21  aged_65_older            3000 non-null   float64
 22  aged_70_older            3000 non-null   float64
 23  gdp_per_capita           3000 non-null   float64
 24  extreme_poverty          3000 non-null   float64
 25  cardiovasc_death_rate    3000 non-null   float64
 26  diabetes_prevalence      3000 non-null   float64
dtypes: float64(11), int64(12), object(4)
memory usage: 632.9+ KB

In [175]:
def changeFloattoInt64(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['tests_per_case', 'reproduction_rate', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence' ]
changeFloattoInt64(columns)

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   int32
 1   continent                3000 non-null   int32
 2   location                 3000 non-null   int32
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   int64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   int64
 17  stringency_index         3000 non-null   int64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   int64
 20  median_age               3000 non-null   int64
 21  aged_65_older            3000 non-null   int64
 22  aged_70_older            3000 non-null   int64
 23  gdp_per_capita           3000 non-null   int64
 24  extreme_poverty          3000 non-null   int64
 25  cardiovasc_death_rate    3000 non-null   int64
 26  diabetes_prevalence      3000 non-null   int64
dtypes: int32(3), int64(23), object(1)
memory usage: 597.8+ KB

In [177]:
def encodeCols(cols):
    for i in cols:
        temp = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(temp))
        df[i] = data_LE.transform(df[i])

columns = ['date', 'continent', 'location', 'positive_rate']
encodeCols(columns)

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   int64
 1   continent                3000 non-null   int64
 2   location                 3000 non-null   int64
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   int32
 10  tests_per_case           3000 non-null   int64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   int64
 17  stringency_index         3000 non-null   int64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   int64
 20  median_age               3000 non-null   int64
 21  aged_65_older            3000 non-null   int64
 22  aged_70_older            3000 non-null   int64
 23  gdp_per_capita           3000 non-null   int64
 24  extreme_poverty          3000 non-null   int64
 25  cardiovasc_death_rate    3000 non-null   int64
 26  diabetes_prevalence      3000 non-null   int64
dtypes: int32(1), int64(26)
memory usage: 621.2 KB

In [179]:
df['location'].unique()

array([4, 7, 1, 3, 9, 2, 0, 5, 6, 8], dtype=int64)

In [180]:
df_clean = df.copy()

In [181]:
df_clean.head()

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,636,0,4,6423388,2490,107051,323,60016385,7386,2715,...,69,1241418161,67,49,8,16,44313,20,177,16
1,399,2,7,6550634,6980,481184,697,28666409,6862,1557,...,7,114516392,694,30,8,4,8196,20,470,8
2,650,1,1,4304572,9134,15116,325,80352550,40108,2370,...,14,1152898402,784,22,9,18,52607,11,415,14
3,536,0,3,2234489,7661,20045,624,89212990,91788,318,...,70,1342525124,403,42,5,10,23297,4,643,18
4,487,1,9,9958614,1724,419543,824,5364240,75023,2786,...,28,744943966,182,26,19,15,56126,5,451,5

In [182]:
df_clean.to_csv(r'cleaned-data.csv', index=False, header=True)

In [183]:
df_clean.head(2)

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,636,0,4,6423388,2490,107051,323,60016385,7386,2715,...,69,1241418161,67,49,8,16,44313,20,177,16
1,399,2,7,6550634,6980,481184,697,28666409,6862,1557,...,7,114516392,694,30,8,4,8196,20,470,8

# Data Splitting / Train-Test Split

In [184]:
X = df.drop(columns=['new_deaths'])
y = df['new_deaths']

In [185]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [186]:
X_train

,date,continent,location,total_cases,new_cases,total_deaths,total_tests,new_tests,positive_rate,tests_per_case,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,636,0,4,6423388,2490,107051,60016385,7386,2715,128,...,69,1241418161,67,49,8,16,44313,20,177,16
1,399,2,7,6550634,6980,481184,28666409,6862,1557,335,...,7,114516392,694,30,8,4,8196,20,470,8
2,650,1,1,4304572,9134,15116,80352550,40108,2370,478,...,14,1152898402,784,22,9,18,52607,11,415,14
3,536,0,3,2234489,7661,20045,89212990,91788,318,384,...,70,1342525124,403,42,5,10,23297,4,643,18
4,487,1,9,9958614,1724,419543,5364240,75023,2786,302,...,28,744943966,182,26,19,15,56126,5,451,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,405,1,8,4859221,7966,140749,21491505,90710,2695,224,...,53,449187021,772,35,7,7,21148,37,696,7
2396,296,2,4,9802630,2580,206900,53903842,92199,1787,343,...,10,1186653936,358,33,12,7,44100,2,517,7
2397,797,3,0,3801250,7257,146161,66194282,33952,598,269,...,27,109893906,617,21,10,3,41979,8,705,2
2398,791,0,0,9340854,2159,397797,34373840,27326,769,249,...,28,1254692098,343,48,19,10,57036,1,399,1
2399,220,0,3,19675,6772,405123,27931327,31139,1303,32,...,87,630785088,970,45,18,11,7576,3,517,8

In [187]:
y_train

0       323
1       697
2       325
3       624
4       824
       ...
2395    810
2396    187
2397    568
2398    710
2399    528
Name: new_deaths, Length: 2400, dtype: int64

In [188]:
X_test

,date,continent,location,total_cases,new_cases,total_deaths,total_tests,new_tests,positive_rate,tests_per_case,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
2400,410,0,1,8462605,1627,398825,69870484,62103,342,72,...,55,102562216,901,43,6,12,49387,16,467,2
2401,3,1,0,9356169,8219,182225,24671251,60857,222,441,...,60,1288334192,571,29,24,10,23850,36,790,6
2402,224,1,6,486799,7080,312683,2342978,73638,2049,205,...,36,1162785080,783,28,19,17,9944,12,657,10
2403,809,1,2,6810805,1985,437359,70509448,72652,1225,307,...,6,1198875181,910,37,17,3,51492,19,516,4
2404,527,2,3,2238057,9713,22936,80456483,12937,2188,264,...,7,355006928,251,45,14,13,23883,19,524,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,300,0,2,7085904,1537,380572,38716025,79552,558,2,...,98,629900904,764,33,10,9,2098,4,493,6
2996,778,2,4,6699744,397,277354,27906787,38233,2761,277,...,26,970688939,691,43,15,8,4533,30,438,17
2997,244,0,2,9024327,5680,442726,88886044,22695,1330,466,...,16,146193923,650,31,11,19,63901,16,777,3
2998,139,0,4,2801445,9355,364225,63500569,90488,2240,167,...,54,485038295,552,26,5,10,25728,33,198,11
2999,691,1,1,9196866,4825,169746,48153647,42734,1625,483,...,55,502986611,484,28,5,14,21578,28,480,10

In [189]:
y_test

2400    433
2401    287
2402    917
2403    566
2404    498
       ...
2995    854
2996    353
2997     74
2998    801
2999    928
Name: new_deaths, Length: 600, dtype: int64

In [190]:
print("TrainX:",X_train.shape)
print("TrainY:",y_train.shape)
print("TestX:",X_test.shape)
print("TestY:",y_test.shape)

TrainX: (2400, 26)
TrainY: (2400,)
TestX: (600, 26)
TestY: (600,)

# Training/Apply Regressor

In [191]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()

In [192]:
model.fit(X_train, y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [193]:
X_train_prediction = model.predict(X_train)

In [194]:
import pickle

pickle.dump(model, open("model.pkl", "wb"))

In [195]:
print(X_train_prediction)

[605 466  55 ... 886 693 599]

In [196]:
training_data_accuracy = accuracy_score(X_train_prediction, y_train)
print('Accuracy Score of Training Data: ', training_data_accuracy)

Accuracy Score of Training Data:  0.019583333333333335

In [197]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)

In [198]:
print(X_test_prediction)

[ 92 693 284  22 316 798 284 534 756  55 584 605 268  55 316 252 386 849
 849 782 155 165 162 734 781 753 912 848 912 848 605  55 840 848 912 143
 557 517 207 595 386   6 284 165 329 264 143 567 386  22 316 155 492 798
 143  65 845 600 782 636 712 912 165 567 620 119 572 252 370 316 284  55
  56 591 662 155 557 848 103 886 416 840 316 225 912 756 176  46 591 849
 781  55 143 270 252  65 344 561 252 662 848 667 912 710 305 849 591 849
 527 471 386 782  55 734 169 105 819 734  46 781 742 201 169  55 253  55
 516 656 492 734  22 715 164 912 105 426 840 565 534 416 329 410 745 433
 169 798 344 777 896 591 848 433 416  55 416 734 252 563  56 176 605 252
 416 557 386 386  46 912 782 912 849 781 727 132 734 132 176 848  55 742
  11 361 344 701 361 252 742 642 912 848 886 268  22 605 176  55 819 464
 132 734 143 464 464 426  87 605 848 207 572 781 912 848 329 122 105 466
 201 880 567 662 410 992 386 753 734 745 912 886 122 416 268 143 253 620
 557 386 201  55 410 252 466 887 557 329  46 410  55 591 207 561 782 781
 848 386 132 642 849 742  22 745 122 781 840 886 252 848  65 557 225 734
 561 305 912 565 782 329 252 605 268 165 561 886 419 298 849 386 361 798
 753 812 849 819  46 998 386 955 557 840 715 464 503 624 339 252 886 176
 781  87 143 781 329 252 268 527 849 841 557 886 416 753 165 595 519 848
  55  55 605 169 912 329 897  22 305 848   6 584 557 782 132 742 103 981
 119 912 605 912  22  92 534 886 734 710 781 416 572 235 693 561 122 565
 386 464  55 355 912 742 781 848 745 103 799 849 782 561 537 557 225  55
 998 734 912  55 416 329  56 840 103 567 777 848  55 753 305 742 734 897
  55 848 781 268 840 329 781 848 777  55 886 316 123 169 103 225 344 886
 624 207 105 410 848 343 416 155 537 798 132 624 534 712  55 734 912 503
 782 191 912 165 782 961 119 981 849 339 605  65 782 548 176 712 598 316
 693 848 298 734 598 316  55 693 781 781 335 646 201 410 925  55 557  46
 841 252 734 557 132 886 164  46 268 710 534 848 912 103 782 103  22 201
 253  55  55 416 492  76 624 667 591 519 492 416 305  55 305 563 105 343
 316   0 734   6 742 103 557 912 742 925 253  55 840 225 819 849 598 416
 419 734 646 386 912 745 840 386  55  55 105 185 848 707 416 710 912 316
 537 119 549 712 252 104 605 849 105 207 119  55 339 561 320 176 896 624
 667 386 557 848 105 912 886 572 707 103 252 624 207 605 715 165 386 981
 887 561 105 827 492 599 756 207 119  55 734 410  55 201 196  55 561  55
 642 329 419 662 252 782]

In [199]:
test_data_accuracy = accuracy_score(y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)

Accuracy score of test data :  0.0016666666666666668