# Data Loading

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score


df = pd.read_csv("synthetic_covid19_data.csv")
df

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,19/11/2021,Asia,India,6423388,2490,107051,323,60016385,7386,0.904376834,...,69.259331,1241418161,67.394702,49.883751,8.649395,16.052063,44313.199950,20.827286,177.832655,16.296474
1,12/09/2021,North America,Russia,6550634,6980,481184,697,28666409,6862,0.525849636,...,7.185287,114516392,694.409929,30.126823,8.957854,4.423022,8196.945011,20.478579,470.991420,8.579170
2,20/04/2020,Europe,Canada,4304572,9134,15116,325,80352550,40108,0.791575096,...,14.823246,1152898402,784.464729,22.648063,9.336778,18.776372,52607.000060,11.924664,415.880908,14.989789
3,16/10/2022,Asia,Germany,2234489,7661,20045,624,89212990,91788,0.11529126,...,70.007502,1342525124,403.467508,42.951109,5.321894,10.526520,23297.985040,4.591400,643.510444,18.084096
4,15/05/2021,Europe,USA,9958614,1724,419543,824,5364240,75023,0.927642706,...,28.972334,744943966,182.869691,26.414731,19.321761,15.889173,56126.828890,5.431330,451.846790,5.971409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,09/11/2022,Asia,France,7085904,1537,380572,854,38716025,79552,0.197973256,...,98.890603,629900904,764.616886,33.458451,10.699616,9.350358,2098.653639,4.346562,493.921655,6.836992
2996,24/01/2020,North America,India,6699744,397,277354,353,27906787,38233,0.92076739,...,26.402506,970688939,691.752546,43.324178,15.298106,8.681226,4533.613663,30.872835,438.493670,17.708803
2997,08/02/2021,Asia,France,9024327,5680,442726,74,88886044,22695,0.44179649,...,16.666702,146193923,650.365284,31.532917,11.588981,19.658565,63901.494500,16.760837,777.073028,3.726194
2998,05/02/2020,Asia,India,2801445,9355,364225,801,63500569,90488,0.742790835,...,54.633328,485038295,552.083660,26.648227,5.098328,10.351321,25728.132350,33.450083,198.230609,11.864297
2999,21/06/2021,Europe,Canada,9196866,4825,169746,928,48153647,42734,0.54699585,...,55.189039,502986611,484.403500,28.728532,5.813562,14.526652,21578.044400,28.410705,480.571347,10.892834

# Data Exploration

In [13]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 3000
Number of Columns: 27

In [14]:
df.head(5)

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,19/11/2021,Asia,India,6423388,2490,107051,323,60016385,7386,0.904376834,...,69.259331,1241418161,67.394702,49.883751,8.649395,16.052063,44313.199950,20.827286,177.832655,16.296474
1,12/09/2021,North America,Russia,6550634,6980,481184,697,28666409,6862,0.525849636,...,7.185287,114516392,694.409929,30.126823,8.957854,4.423022,8196.945011,20.478579,470.991420,8.579170
2,20/04/2020,Europe,Canada,4304572,9134,15116,325,80352550,40108,0.791575096,...,14.823246,1152898402,784.464729,22.648063,9.336778,18.776372,52607.000060,11.924664,415.880908,14.989789
3,16/10/2022,Asia,Germany,2234489,7661,20045,624,89212990,91788,0.11529126,...,70.007502,1342525124,403.467508,42.951109,5.321894,10.526520,23297.985040,4.591400,643.510444,18.084096
4,15/05/2021,Europe,USA,9958614,1724,419543,824,5364240,75023,0.927642706,...,28.972334,744943966,182.869691,26.414731,19.321761,15.889173,56126.828890,5.431330,451.846790,5.971409

In [15]:
df.tail(7)

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
2993,22/06/2020,Asia,India,125438,67,16709,339,24367468,66470,0.153676149,...,33.440870,796829779,548.257127,29.561358,17.928562,4.823510,8306.098411,36.607553,177.331161,6.752213
2994,13/08/2022,Asia,UK,3770183,2506,212330,761,35040064,86916,0.862519806,...,62.997546,1288907202,706.377950,39.711352,8.839836,13.736928,2073.105101,37.306400,789.991850,15.174539
2995,09/11/2022,Asia,France,7085904,1537,380572,854,38716025,79552,0.197973256,...,98.890603,629900904,764.616886,33.458451,10.699616,9.350358,2098.653639,4.346562,493.921655,6.836992
2996,24/01/2020,North America,India,6699744,397,277354,353,27906787,38233,0.92076739,...,26.402506,970688939,691.752546,43.324178,15.298106,8.681226,4533.613663,30.872835,438.493670,17.708803
2997,08/02/2021,Asia,France,9024327,5680,442726,74,88886044,22695,0.44179649,...,16.666702,146193923,650.365284,31.532917,11.588981,19.658565,63901.494500,16.760837,777.073028,3.726194
2998,05/02/2020,Asia,India,2801445,9355,364225,801,63500569,90488,0.742790835,...,54.633328,485038295,552.083660,26.648227,5.098328,10.351321,25728.132350,33.450083,198.230609,11.864297
2999,21/06/2021,Europe,Canada,9196866,4825,169746,928,48153647,42734,0.54699585,...,55.189039,502986611,484.403500,28.728532,5.813562,14.526652,21578.044400,28.410705,480.571347,10.892834

In [16]:
df.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
count,3.000000e+03,3000.000000,3000.000000,3000.000000,3.000000e+03,3000.000000,3000.000000,3.000000e+03,3.000000e+03,3.000000e+03,...,3000.000000,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,4.970822e+06,4933.382667,252170.073000,501.944333,5.054818e+07,49124.670000,247.901976,5.059126e+07,3.951120e+07,3.523605e+07,...,49.420508,7.000848e+08,504.417978,34.954233,14.947891,11.385179,35872.847690,25.096407,452.949274,10.436695
std,2.840551e+06,2862.387046,142288.916742,286.865451,3.679282e+07,29307.360723,145.582367,2.888665e+07,2.310248e+07,2.016199e+07,...,28.926971,4.085710e+08,287.992252,8.678754,5.777631,4.903229,19925.718629,14.343835,202.618334,5.423249
min,1.729700e+04,1.000000,74.000000,0.000000,4.212000e+03,5.000000,0.087758,4.554000e+03,6.170000e+02,1.832800e+04,...,0.010237,1.110996e+06,10.588810,20.000502,5.001872,3.001780,1026.731495,0.056399,100.005903,1.011965
25%,2.602631e+06,2518.500000,131482.500000,252.750000,2.423858e+07,22728.750000,122.232179,2.505036e+07,1.908893e+07,1.775416e+07,...,24.258523,3.408214e+08,258.464713,27.473284,9.825665,7.131367,18274.354622,13.076350,278.907744,5.905785
50%,4.944837e+06,4843.500000,255026.000000,506.000000,5.044903e+07,49400.000000,245.821471,5.187611e+07,3.998080e+07,3.520562e+07,...,49.527373,6.956387e+08,499.912506,34.892248,14.897659,11.363021,36849.521790,24.942092,455.707196,10.179357
75%,7.356497e+06,7381.250000,373209.500000,749.000000,7.500279e+07,75048.000000,366.324837,7.555365e+07,5.938948e+07,5.280865e+07,...,74.679065,1.057497e+09,757.980516,42.511328,20.054738,15.585339,52862.615193,37.605693,631.834708,15.075605
max,9.993726e+06,9993.000000,499920.000000,998.000000,9.872688e+08,99987.000000,900.786830,9.998511e+07,7.998922e+07,9.634227e+07,...,99.980848,1.398727e+09,998.762016,49.999164,24.999139,19.994429,69989.049730,49.988448,799.957787,19.994108

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   float64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   float64
 17  stringency_index         3000 non-null   float64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   float64
 20  median_age               3000 non-null   float64
 21  aged_65_older            3000 non-null   float64
 22  aged_70_older            3000 non-null   float64
 23  gdp_per_capita           3000 non-null   float64
 24  extreme_poverty          3000 non-null   float64
 25  cardiovasc_death_rate    3000 non-null   float64
 26  diabetes_prevalence      3000 non-null   float64
dtypes: float64(11), int64(12), object(4)
memory usage: 632.9+ KB

In [18]:
df.columns

Index(['date', 'continent', 'location', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_tests', 'new_tests',
       'positive_rate', 'tests_per_case', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'hosp_patients',
       'icu_patients', 'reproduction_rate', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence'],
      dtype='object')

In [19]:
for i in df.columns:
    print(i)

date
continent
location
total_cases
new_cases
total_deaths
new_deaths
total_tests
new_tests
positive_rate
tests_per_case
total_vaccinations
people_vaccinated
people_fully_vaccinated
hosp_patients
icu_patients
reproduction_rate
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence

In [20]:
df.count()

date                       3000
continent                  3000
location                   3000
total_cases                3000
new_cases                  3000
total_deaths               3000
new_deaths                 3000
total_tests                3000
new_tests                  3000
positive_rate              3000
tests_per_case             3000
total_vaccinations         3000
people_vaccinated          3000
people_fully_vaccinated    3000
hosp_patients              3000
icu_patients               3000
reproduction_rate          3000
stringency_index           3000
population                 3000
population_density         3000
median_age                 3000
aged_65_older              3000
aged_70_older              3000
gdp_per_capita             3000
extreme_poverty            3000
cardiovasc_death_rate      3000
diabetes_prevalence        3000
dtype: int64

In [21]:
df['location'].unique()

array(['India', 'Russia', 'Canada', 'Germany', 'USA', 'France', 'Brazil',
       'Italy', 'Japan', 'UK'], dtype=object)

In [22]:
df.nunique()

date                       1028
continent                     4
location                     10
total_cases                3000
new_cases                  2574
total_deaths               2987
new_deaths                  940
total_tests                3000
new_tests                  2949
positive_rate              3000
tests_per_case             3000
total_vaccinations         3000
people_vaccinated          3000
people_fully_vaccinated    3000
hosp_patients              2951
icu_patients               2782
reproduction_rate          3000
stringency_index           3000
population                 3000
population_density         3000
median_age                 3000
aged_65_older              3000
aged_70_older              3000
gdp_per_capita             3000
extreme_poverty            3000
cardiovasc_death_rate      3000
diabetes_prevalence        3000
dtype: int64

In [23]:
df.isnull().sum()

date                       0
continent                  0
location                   0
total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
total_tests                0
new_tests                  0
positive_rate              0
tests_per_case             0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
hosp_patients              0
icu_patients               0
reproduction_rate          0
stringency_index           0
population                 0
population_density         0
median_age                 0
aged_65_older              0
aged_70_older              0
gdp_per_capita             0
extreme_poverty            0
cardiovasc_death_rate      0
diabetes_prevalence        0
dtype: int64

# Data Pre-processing

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   float64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   float64
 17  stringency_index         3000 non-null   float64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   float64
 20  median_age               3000 non-null   float64
 21  aged_65_older            3000 non-null   float64
 22  aged_70_older            3000 non-null   float64
 23  gdp_per_capita           3000 non-null   float64
 24  extreme_poverty          3000 non-null   float64
 25  cardiovasc_death_rate    3000 non-null   float64
 26  diabetes_prevalence      3000 non-null   float64
dtypes: float64(11), int64(12), object(4)
memory usage: 632.9+ KB

In [25]:
df.isnull().sum()

date                       0
continent                  0
location                   0
total_cases                0
new_cases                  0
total_deaths               0
new_deaths                 0
total_tests                0
new_tests                  0
positive_rate              0
tests_per_case             0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
hosp_patients              0
icu_patients               0
reproduction_rate          0
stringency_index           0
population                 0
population_density         0
median_age                 0
aged_65_older              0
aged_70_older              0
gdp_per_capita             0
extreme_poverty            0
cardiovasc_death_rate      0
diabetes_prevalence        0
dtype: int64

In [26]:
df['location'].isnull().sum()

0

# Handel Missing values

In [27]:
df = df.dropna(subset=['new_deaths'])

In [28]:
df['new_deaths'] = df['new_deaths'].apply(lambda x: 1 if x > 0 else 0)

In [29]:
df.fillna(df.median(numeric_only=True), inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   float64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   float64
 17  stringency_index         3000 non-null   float64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   float64
 20  median_age               3000 non-null   float64
 21  aged_65_older            3000 non-null   float64
 22  aged_70_older            3000 non-null   float64
 23  gdp_per_capita           3000 non-null   float64
 24  extreme_poverty          3000 non-null   float64
 25  cardiovasc_death_rate    3000 non-null   float64
 26  diabetes_prevalence      3000 non-null   float64
dtypes: float64(11), int64(12), object(4)
memory usage: 632.9+ KB

In [31]:
def changeFloattoInt64(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['tests_per_case', 'reproduction_rate', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence' ]
changeFloattoInt64(columns)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   object
 1   continent                3000 non-null   object
 2   location                 3000 non-null   object
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   object
 10  tests_per_case           3000 non-null   int64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   int64
 17  stringency_index         3000 non-null   int64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   int64
 20  median_age               3000 non-null   int64
 21  aged_65_older            3000 non-null   int64
 22  aged_70_older            3000 non-null   int64
 23  gdp_per_capita           3000 non-null   int64
 24  extreme_poverty          3000 non-null   int64
 25  cardiovasc_death_rate    3000 non-null   int64
 26  diabetes_prevalence      3000 non-null   int64
dtypes: int64(23), object(4)
memory usage: 632.9+ KB

In [33]:
categorical_columns = ['date', 'continent', 'location', 'positive_rate']
le = LabelEncoder()
for col in categorical_columns:
    df[col] = le.fit_transform(df[col].astype(str))

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     3000 non-null   int32
 1   continent                3000 non-null   int32
 2   location                 3000 non-null   int32
 3   total_cases              3000 non-null   int64
 4   new_cases                3000 non-null   int64
 5   total_deaths             3000 non-null   int64
 6   new_deaths               3000 non-null   int64
 7   total_tests              3000 non-null   int64
 8   new_tests                3000 non-null   int64
 9   positive_rate            3000 non-null   int32
 10  tests_per_case           3000 non-null   int64
 11  total_vaccinations       3000 non-null   int64
 12  people_vaccinated        3000 non-null   int64
 13  people_fully_vaccinated  3000 non-null   int64
 14  hosp_patients            3000 non-null   int64
 15  icu_patients             3000 non-null   int64
 16  reproduction_rate        3000 non-null   int64
 17  stringency_index         3000 non-null   int64
 18  population               3000 non-null   int64
 19  population_density       3000 non-null   int64
 20  median_age               3000 non-null   int64
 21  aged_65_older            3000 non-null   int64
 22  aged_70_older            3000 non-null   int64
 23  gdp_per_capita           3000 non-null   int64
 24  extreme_poverty          3000 non-null   int64
 25  cardiovasc_death_rate    3000 non-null   int64
 26  diabetes_prevalence      3000 non-null   int64
dtypes: int32(4), int64(23)
memory usage: 586.1 KB

In [35]:
df['location'].unique()

array([4, 7, 1, 3, 9, 2, 0, 5, 6, 8])

In [36]:
df_clean = df.copy()

In [37]:
df_clean.head()

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,636,0,4,6423388,2490,107051,1,60016385,7386,2715,...,69,1241418161,67,49,8,16,44313,20,177,16
1,399,2,7,6550634,6980,481184,1,28666409,6862,1557,...,7,114516392,694,30,8,4,8196,20,470,8
2,650,1,1,4304572,9134,15116,1,80352550,40108,2370,...,14,1152898402,784,22,9,18,52607,11,415,14
3,536,0,3,2234489,7661,20045,1,89212990,91788,318,...,70,1342525124,403,42,5,10,23297,4,643,18
4,487,1,9,9958614,1724,419543,1,5364240,75023,2786,...,28,744943966,182,26,19,15,56126,5,451,5

In [38]:
df_clean.to_csv(r'cleaned-data.csv', index=False, header=True)

In [39]:
df_clean.head(2)

,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
0,636,0,4,6423388,2490,107051,1,60016385,7386,2715,...,69,1241418161,67,49,8,16,44313,20,177,16
1,399,2,7,6550634,6980,481184,1,28666409,6862,1557,...,7,114516392,694,30,8,4,8196,20,470,8

# Data Splitting / Train-Test Split

In [40]:
X = df.drop(columns=['new_deaths'])
y = df['new_deaths']

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=42)

In [42]:
X_train

,date,continent,location,total_cases,new_cases,total_deaths,total_tests,new_tests,positive_rate,tests_per_case,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
642,691,0,3,7249903,201,144454,14946225,27597,2556,135,...,96,656224597,721,33,22,15,23304,31,550,2
700,950,0,1,2691276,4937,62785,8644155,21563,1415,474,...,76,936150594,403,35,6,4,21386,49,485,15
226,469,0,3,2026793,3253,114919,51585473,87278,958,194,...,87,262480946,510,38,5,18,4339,4,244,11
1697,101,0,5,8480932,7701,258970,4534027,48239,1750,104,...,39,1069429651,950,40,17,12,57877,35,357,4
1010,170,2,0,9683910,2561,305313,45791115,56381,2890,416,...,33,1343229330,932,38,9,3,55804,16,757,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,140,0,3,4495511,2284,145693,946424,10807,520,298,...,59,285136903,956,41,22,5,51733,21,770,4
1095,714,1,6,7271476,7832,335639,12100015,29202,2461,58,...,44,291310983,450,25,11,3,31885,16,276,16
1130,335,1,4,7369434,6336,7170,52025800,69537,1051,153,...,0,591332449,505,47,24,3,44385,48,446,4
1294,129,2,0,910775,1881,116528,96860441,41205,1940,350,...,17,410350611,219,32,21,10,27956,5,733,16
860,55,0,7,2719269,3453,188262,62957282,5452,2202,252,...,90,555142773,60,44,15,6,26821,27,532,16

In [43]:
y_train

642     1
700     1
226     1
1697    1
1010    1
       ..
1638    1
1095    1
1130    1
1294    1
860     1
Name: new_deaths, Length: 2400, dtype: int64

In [44]:
X_test

,date,continent,location,total_cases,new_cases,total_deaths,total_tests,new_tests,positive_rate,tests_per_case,...,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence
1801,774,0,5,8379341,9379,307980,3733529,94079,1299,87,...,17,1109645001,866,40,22,4,60281,15,112,14
1190,554,0,8,6867218,1230,413166,18670724,24767,2904,269,...,77,1216475053,447,26,6,3,32669,23,295,9
1817,226,1,7,2086213,931,494064,57470411,74714,614,475,...,37,196899815,877,37,12,12,59645,24,707,15
251,295,1,1,501157,719,137799,22825162,91820,2876,467,...,36,1083412963,672,30,5,9,58543,17,298,19
2505,190,0,4,5163515,4086,451069,46655993,20872,509,315,...,64,1020960000,834,33,20,9,60237,43,412,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,514,0,2,6245035,9203,45689,95361377,5349,2317,34,...,2,444953960,629,37,14,10,61946,45,163,11
2087,257,0,5,7134897,6448,79888,46077451,19796,356,265,...,24,1021947295,603,36,13,18,11987,10,599,9
599,305,0,3,4166500,5131,296379,2951161,83205,1570,353,...,87,567406331,564,36,7,19,42601,7,513,10
1756,929,1,7,8704813,9548,145457,95501015,87388,405,219,...,65,292189298,648,44,20,19,31880,41,580,9
1323,736,1,0,7347689,9018,358405,33220204,36807,1381,11,...,72,328368336,632,47,5,5,18087,23,662,8

In [45]:
y_test

1801    1
1190    1
1817    1
251     1
2505    1
       ..
104     1
2087    1
599     1
1756    1
1323    1
Name: new_deaths, Length: 600, dtype: int64

In [46]:
print("TrainX:",X_train.shape)
print("TrainY:",y_train.shape)
print("TestX:",X_test.shape)
print("TestY:",y_test.shape)

TrainX: (2400, 26)
TrainY: (2400,)
TestX: (600, 26)
TestY: (600,)

# Gradient Boosting Classifer

In [59]:
model = GradientBoostingClassifier(n_estimators=50, max_depth=3, learning_rate=0.1, random_state=42)

In [71]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

In [72]:
model.fit(X_train, y_train)

GradientBoostingClassifier(n_estimators=50, random_state=42)

In [73]:
y_train_prediction = model.predict(X_train)
y_test_prediction = model.predict(X_test)

In [74]:
train_accuracy = accuracy_score(y_train, y_train_prediction)
test_accuracy = accuracy_score(y_test, y_test_prediction)

In [75]:
print("Training Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

Training Accuracy: 1.0
Test Accuracy: 0.995